/* # Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {
	background-color: $header-background;
	min-height: 160px;
}

.site-header .wrap {
	padding: 40px 0;
	@extend .pure-g;
}

/* ## Title Area
--------------------------------------------- */

.title-area {
	@extend .pure-u-1;
	@extend .pure-u-md-1-3;
}

.header-full-width .title-area {
	width: 100%;
}

.site-title {
	font-size: 2em;
	font-weight: $heading-font-weight;
	line-height: 1.2;
}

.site-title a,
.site-title a:hover {
	color: $heading-color;
}

.header-image .site-title > a {
	background: url(images/logo.png) no-repeat left;
	float: left;
	min-height: 60px;
	width: 100%;
}

.site-description {
	font-size: 1em;
	font-weight: $font-weight;
	line-height: 1.5;
}

.site-description,
.site-title {
	margin-bottom: 0;
}

.header-image .site-description,
.header-image .site-title {
	display: block;
	text-indent: -9999px;
}

/* ## Widget Area
--------------------------------------------- */

.site-header .widget-area {
	@extend .pure-u-1;
	@extend .pure-u-md-2-3;
	text-align: right;
}